---
import Breadcrumbs from "@components/Breadcrumbs.astro";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome"
import type { IconDefinition } from "@fortawesome/fontawesome-common-types"

export interface Props {
  pageTitle: string;
  pageTitleIcon?: IconDefinition;
  pageDesc?: string;
}

const { pageTitle, pageTitleIcon, pageDesc } = Astro.props;
---

<Breadcrumbs />
<main id="main-content">
  <h1>{pageTitleIcon !== undefined
       ? <FontAwesomeIcon icon={pageTitleIcon} />
       : ""
      } {pageTitle}</h1>
  <p>{pageDesc}</p>
  <slot />
</main>

<style>
  #main-content {
    @apply mx-auto w-full max-w-5xl px-4 pb-12;
  }
  #main-content h1 {
    @apply text-2xl font-semibold sm:text-3xl;
  }
  #main-content p {
    @apply mb-6 mt-2 italic;
  }
</style>

<style is:global>
  code {
    counter-reset: step;
    counter-increment: step 0;
  }

  code .line::before {
    content: counter(step);
    counter-increment: step;
    width: 1rem;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
    color: rgba(253,216,53,1)
  }

  .not-italic {
    font-style: normal !important;
  }
</style>
